.apartamentos{
    display: flex;
    margin: 5em 10em;
    
}

.apartamento__container{
    margin: auto;
    border-radius: 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.18) 0rem 2px 4px;
}

.apartamento__foto{
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    height: 14.37rem;
    width: 14.8rem;
    margin: 0 0 1vw 0;
}

.item__location{
    height: 1.18rem;
    width: 1.18rem;
    align-items: center;
}

.apartamento__nota{
    padding-left: 4.7vw;
    font-family: var(--fonte-Nunito);
}

.apartamento__cidade{
    font-family:var(--fonte-Nunito);
    font-size: 0.8vw;
    padding: 0 0 1vw 0;
    text-decoration: none;
}

.apartamento__cidade__canela{
    padding-left: 5.5vw;
    font-family: var(--fonte-Nunito);
    display: flex;
    justify-content: flex-end;
}

