@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/apartamento.css");
@import url("styles/footer.css");
@import url("styles/comodidades.css");
@import url("styles/icones.css");
@import url("styles/descricao.css");
@import url("styles/pagina_dos_aps_apartamento.css");
@import url("styles/paginas_aps_cabecalho.css");

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-dancing);
    font-size: 1rem;
}

:root{
    --cor-verde: #3A4D39;
    --cor-de-fundo: #ffffff;
    --cinza--escuro: #3A404E;
    --bege: #F3EEEA;
    --bege-footer: #B3A492;
    --cinza: #101828;


    --fonte-Kaushan:"Kaushan Script";
    --fonte-dancing:"Dancing Script";
    --fonte-Nunito:"Nunito Sans";
    
}




.img_fundo{
    background-image:url(../assets/quarto.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

