@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/apartamento.css");
@import url("styles/footer.css");
@import url("styles/comodidades.css");
@import url("styles/icones.css");




:root{
    --cor-verde: #3A4D39;
    --cor-de-fundo: #ffffff;
    --fonte-Kaushan:"Kaushan Script";
    --fonte-dancing:"Dancing Script";
    --cinza--escuro: #3A404E;
    --bege: #F3EEEA;
    --bege-footer: #B3A492;
    --cinza: #101828;
}


body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-dancing);
    font-size: 18px;
    font-weight: 500;
}

.img_fundo{
    background-image:url(../assets/quarto.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1900px 900px;
}

