@import url("index/menu.css");
@import url("index/banner.css");
@import url("index/apartamento.css");
@import url("index/texto.css");
@import url("index/icones.css");
@import url("apartamento/menu.css");
@import url("apartamento/precos.css");
@import url("apartamento/fotos.css");
@import url("apartamento/quartos.css");
@import url("apartamento/descricao.css");
@import url("apartamento/comodidades.css");
@import url("footer.css");

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-dancing);
    font-size: 1rem;
    width: 100%;

}

:root{
    --cor-verde: #3A4D39;
    --cor-de-fundo: #ffffff;
    --cinza--escuro: #3A404E;
    --bege: #F3EEEA;
    --bege-footer: #B3A492;
    --cinza: #101828;


    --fonte-Kaushan:"Kaushan Script";
    --fonte-dancing:"Dancing Script";
    --fonte-Nunito:"Nunito Sans";
    
}

.menu__img{
    background-image:url(../images/quarto.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
