@import url("index/menu/menu.css");
@import url("index/banner/banner.css");
@import url("index/apartamentos/apartamento.css");
@import url("footer.css");
@import url("index/texto/texto.css");
@import url("index/icones/icones.css");
@import url("apartamento/apartamento-menu.css");
@import url("apartamento/apartamento-precos.css");
@import url("apartamento/apartamento-fotos.css");
@import url("apartamento/apartamento-dormitorio.css");
@import url("apartamento/apartamento-atributos.css");
@import url("apartamento/apartamento-equipamentos.css");

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-dancing);
    font-size: 1rem;
    width: 100%;

}

:root{
    --cor-verde: #3A4D39;
    --cor-de-fundo: #ffffff;
    --cinza--escuro: #3A404E;
    --bege: #F3EEEA;
    --bege-footer: #B3A492;
    --cinza: #101828;


    --fonte-Kaushan:"Kaushan Script";
    --fonte-dancing:"Dancing Script";
    --fonte-Nunito:"Nunito Sans";
    
}

.menu__img{
    background-image:url(../images/quarto.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
