@import url("index/header.css");
@import url("index/banner.css");
@import url("index/apartamento.css");
@import url("footer.css");
@import url("index/comodidades.css");
@import url("index/icones.css");
@import url("apartamento_informacoes/apartamento__informacoes.css");
@import url("apartamento_informacoes/apartamento__cabecalho.css");

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-dancing);
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;

}

:root{
    --cor-verde: #3A4D39;
    --cor-de-fundo: #ffffff;
    --cinza--escuro: #3A404E;
    --bege: #F3EEEA;
    --bege-footer: #B3A492;
    --cinza: #101828;


    --fonte-Kaushan:"Kaushan Script";
    --fonte-dancing:"Dancing Script";
    --fonte-Nunito:"Nunito Sans";
    
}




.img_fundo{
    background-image:url(../images/quarto.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

