.icones{
    display: flex;
    justify-content: space-evenly;
    padding: 3em 25em;

}

.icones_item{
    padding: 1em 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item{
    display: flex;
    align-items: center;
    width: 3.5vw;
    height: 3.5vw;
}


.item_disponibilidade{
    border-radius: 0 0 0 1vw;
}


.item_praticidade{
    border-radius: 0 1vw 0 0;
}

.apartamento_local_nota{
    display: flex;
}

.nota{
    margin-left: 3.5vw;
    font-size: 1rem;
}