.descricao{
    display: flex;
    font-family: var(--fonte-Nunito)
}

.descricao__container{
    width: 30%;
    margin-left: 30rem;
}

.descricao__container__nome{
   display: flex;
   flex-direction: column;
}

.descricao__titulo{
    align-self: flex-start;
    font-weight: 700;
    font-size: 20px;
}

.descricao__quartos{
    align-self: flex-start;
    margin: 0.5rem 0 3rem 0;
    
}