.fotos{
    text-align: center;
    width: 100%;
}

.fotos__icones{
    align-items: flex-end;
    margin-top: 2vw;
    font-family:var(--fonte-Nunito);
    font-weight: 700;
    font-size: 1.3vw;
}


.fotos__titulo{
    margin: 0 16vw 0 0;
}

.fotos__icone{
    width: 1.2rem;

}

.fotos__compartilhar{
    margin-right: 2rem;
    font-size: 1rem;
}

.fotos__salvar{
    font-size: 1rem;
}

.fotos__container{
    display: flex;
    align-items: center;
    margin: 1vw 25vw;
    gap: 7px;

}

.fotos__item__grande{
    width: 34.37rem;
    height: 34.81rem;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}

.fotos__item__menor{
    display: flex;
    flex-direction: column;
    gap: 0.43rem;
}

.fotos__item{
    width: 15.62rem;
    height: 17.18rem;
    
}

.fotos__item--tres{
    border-top-right-radius: 1vw;
}

.fotos__item--quatro{
    border-bottom-right-radius: 1vw;
}



