
.precos__diarias{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
    width: 17%;
    height: 28rem;
    margin-left: 3.1rem;
}

.precos__diarias__preco{
    font-family: var(--fonte-Nunito);
    font-weight: 700;
    margin: 1rem 1rem;
    display: flex;
    align-self: flex-start;
}

.precos__calendario{
    padding: 1rem ;
    border-radius: 5px;
}

.precos__ocupantes__titulo{
    padding: 1rem 0 0 0;    
}

.precos__hospedes{
    padding: .5rem 8.4rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.precos__reservar{
    margin-top: 1rem;
}

.precos__reservarBtn{
    background-color: rgb(146, 21, 21);
    color: white;
    padding: .5rem 7rem;
    margin: 1rem 0rem;
    border-radius: 10px;
}

.precos__reservarBtn:hover{
    cursor: pointer;
    background-color: black;
    transition: all .2s ease-in-out;
}

.precos__span{
    margin-top: 1rem;
    font-size: 12px;
}

.precos__container{
    margin-top: 1.2rem;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap:30px;
    justify-content: space-between;
}

.precos__item{
    margin: .5rem .9rem;
}

.precos__item--esquerdo{
    border-bottom: 1px solid black;
}