.quartos__titulo{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 4rem;
    padding-left: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 19px;
}

.swiper{
    margin-bottom: 4rem;
}



.swiper-slide img{
    border-radius: 10px;
    width: 260px;
    height: 240px;
    margin-bottom: 1.3rem;
}

.swiper__quarto{
    font-weight: 700;
    display: flex;
    padding-left: 1.2rem;
    margin-bottom: .4rem;
}

.swiper__camas{
    display: flex;
    padding-left: 1.2rem;
    font-size: 14px;
}

.swiper-button-prev::after,
.swiper-button-next::after{
    display: none;
}