.menu{
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    align-items: center;
    
}   

.menu__container{
    display: flex;
}

.menu__titulo{
    align-self: center;
    color: var(--cinza);
    font-size: 2.18rem;
    font-weight: 700;
    color: var(--bege);
}

.menu__lista{
    margin-right: auto;
    padding: 0 4em;
}

.menu__link{
    text-decoration: none;
}


.menu__link{
    margin-left: 3em;
    color: var(--cor-verde);
    font-size: 1.25rem;
    font-weight: 700;
}

.botao{
    font-size: 1rem;
    text-decoration: none;
    background-color: var(--bege);
    color: var(--cor-verde);
    padding: 0.8em 1em;
    border-radius: 1rem;
    font-weight: 700;
}

.menu__link{
    padding: 0em 1em;
}



@media (max-width: 1450px){
    
}