.apartamentos{
    display: flex;
    padding: 3em 10em;
}

.apartamento__container{
    margin: auto;
}

.ap_item{
    border-radius: 3vw;
    height: 230px;
    width: 230px;
    padding: 0 1em;
}

.item_location{
    height: 19px;
    width: 19px;
    align-items: center;
    margin-left: 2vw;
}

.apartamento_nota{
    padding-left: 3vw;
    font-family: var(--fonte-Nunito);
    display: flex;
    align-items: flex-end;
}

.apartamento_cidade{
    font-family:var(--fonte-Nunito);
    font-size: 0.8vw;
    display: flex;
    align-items: flex-end;
}