.apartamentos{
    display: flex;
    padding: 3em 10em;
}

.apartamento__container{
    display: flex;
    margin: auto;

}

.ap_item{
    border-radius: 20px;
    height: 250px;
    width: 250px;
}

