.apartamento_comodidades{
    display: flex;
    font-family: var(--fonte-Kaushan);
    padding: 4em;
}

.apartamento_descricao{
    
}

.apartamento_titulo{
    padding: 0 3em;
    font-size: 50px;
    text-align: center;
    margin-left: 4em;
    color: var(--cor-verde);
}

.apartamento_texto{
    padding:  0 10em;
    font-size: 25px;
    color: var(--cor-verde);
    text-align: center;
}