
.aparmentos_titulo_aps{
    font-family:var(--fonte-Nunito);
    font-weight: 700;
    font-size: 1.3vw;
    padding-top: 2vw;
}


.aparmentos_descricao_aps{
    width: 100%;
    text-align: center;
}

.apartamento_nome{
    padding: 0 16vw 0 0;
}

.apartamento_fotos{
    display: flex;
    align-items: center;
    margin: 2vw 25vw;
    gap: 7px;

}

.apartamento_item_grande{
    width: 550px;
    height: 557px;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}

.apartamento_item_menor{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.apartamento_item{
    width: 250px;
    height: 275px;
    
}

.apartamento_item_tres{
    border-top-right-radius: 1vw;
}

.apartamento_item_quatro{
    border-bottom-right-radius: 1vw;
}