
.aparmentos_titulo_aps{
    font-family:var(--fonte-Nunito);
    font-weight: 700;
    font-size: 1.3vw;
    margin-top: 2vw;
    align-items: flex-end;
}


.aparmentos_descricao_aps{
    width: 100%;
    text-align: center;
}

.apartamento_nome{
    margin: 0 16vw 0 0;
}

.apartamento_fotos{
    display: flex;
    align-items: center;
    margin: 1vw 25vw;
    gap: 7px;

}

.apartamento_item_grande{
    width: 34.37rem;
    height: 34.81rem;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}

.apartamento_item_menor{
    display: flex;
    flex-direction: column;
    gap: 0.43rem;
}

.apartamento_item{
    width: 15.62rem;
    height: 17.18rem;
    
}

.apartamento_item_tres{
    border-top-right-radius: 1vw;
}

.apartamento_item_quatro{
    border-bottom-right-radius: 1vw;
}

.apartamento__img{
    width: 1.2rem;

}

.apartamento_compartilhar{
    margin-right: 2rem;
    font-size: 1rem;
}

.apartamento_salvar{
    font-size: 1rem;
}

.atributos{
    display: flex;
}

.atributos__container{
    width: 50%;
}

.atributos__diarias{
    width: 50%;
}