
.aparmentos_titulo_aps{
    font-family:var(--fonte-Nunito);
    font-weight: 700;
    font-size: 1.3vw;
    margin-top: 2vw;
    align-items: flex-end;
}


.aparmentos_descricao_aps{
    width: 100%;
    text-align: center;
}

.apartamento_nome{
    margin: 0 16vw 0 0;
}

.apartamento_fotos{
    display: flex;
    align-items: center;
    margin: 1vw 25vw;
    gap: 7px;

}

.apartamento_item_grande{
    width: 34.37rem;
    height: 34.81rem;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}

.apartamento_item_menor{
    display: flex;
    flex-direction: column;
    gap: 0.43rem;
}

.apartamento_item{
    width: 15.62rem;
    height: 17.18rem;
    
}

.apartamento_item_tres{
    border-top-right-radius: 1vw;
}

.apartamento_item_quatro{
    border-bottom-right-radius: 1vw;
}

.apartamento__img{
    width: 1.2rem;

}

.apartamento_compartilhar{
    margin-right: 2rem;
    font-size: 1rem;
}

.apartamento_salvar{
    font-size: 1rem;
}

/* ATRIBUTOS */

.atributos{
    display: flex;
    font-family: var(--fonte-Nunito)
}

.atributos__container{
    width: 30%;
    margin-left: 30rem;
}

.atributos__titulo{
   display: flex;
   flex-direction: column;
}

.atributos__titulo_ap{
    align-self: flex-start;
    font-weight: 700;
    font-size: 20px;
}

.atributos__titulo_descricao{
    align-self: flex-start;
    margin: 0.5rem 0 3rem 0;
    
}

/* ATRIBUTOS DORMITORIOS */

.atributos__dormitorio__titulo{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 4rem;
    padding-left: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 19px;
}

.atributos__dormitorios__quartos{
    display: flex;
}

.swiper{
    margin-bottom: 4rem;
}



.swiper-slide img{
    border-radius: 10px;
    width: 260px;
    height: 240px;
    margin-bottom: 1.3rem;
}

.swiper__quarto{
    font-weight: 700;
    display: flex;
    padding-left: 1.2rem;
    margin-bottom: .4rem;
}

.swiper__camas{
    display: flex;
    padding-left: 1.2rem;
    font-size: 14px;
}

.swiper-button-prev::after,
.swiper-button-next::after{
    display: none;
}

/* ATRIBUTOS COMODIDADES */

.atributos__comodidades{
    display: flex;
    align-self: flex-start;
    padding-left: 1rem;
    margin: 2rem 0;
    font-weight: 700;
    font-size: 19px;
    
    
}

/* ATRIBUTOS QUADRO DE PRESÇOS */

.atributos__diarias{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
    width: 17%;
    height: 25rem;
    margin-left: 3.1rem;
}

.atributos__diarias_preco{
    font-family: var(--fonte-Nunito);
    font-weight: 700;
    margin-top: 1rem;
    
}