.vagas__container{
    text-align: center;

}

.vagas__titulo{
    font-size: 36px;
    font-weight: 600;
    color: var(--cinza);
    padding: 1em;
}

.vagas__texto{
    font-size: 20px;
    font-weight: 400;
    color: var(--cinza--claro);
}

.vagas__imagem{
    padding: 5em;
    width: 1650px;
}